@charset "uft-8";

body {
    padding: 100px;
    font-family: 'Noto Serif JP', serif;
    color: #231815;
    letter-spacing: 0.04em;
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.current_tanka_box {
    display: flex;
    flex-wrap: wrap;
}

.current_tanka_box p {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

p.current_num_text {
    background-color: #f9e3b6;
    display: inline-block;
    padding: 5px 10px;
}

p.current_result {
    margin-top: 20px;
}

.current_tanka_box p span.click_num {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    top: -24px;
}

button#answer_btn {
    background-color: #f7f3eb;
    padding: 5px 20px;
    display: block;
}

.current_quiz_box {
    background-color: #f1f1f1;
    margin: 30px 0 25px;
    padding: 0 30px 35px 0;
    display: inline-block;
}

div#quiz_area {
    margin-top: 48px;
    padding-left: 30px;
}

h1 {
    font-size: 22px;
    margin-bottom: 16px;
}

@media (max-width: 750px) {
    body {
        padding: 50px 15px;
    }
    
    .current_quiz_box {
        padding: 0 0 22px;
        display: block;
        margin: 16px 0 8px;
    }
    
    div#quiz_area {
        margin-top: 20px;
        padding-left: 26px;
    }
    
    .current_tanka_box {
        display: block;
    }
    
    .current_tanka_box p {
        margin-right: 0;
        padding-left: 22px;
    }
    
    .current_tanka_box p + p {
        margin-top: 15px;
    }
    
    .current_tanka_box p span.click_num {
        right: auto;
        top: 0;
        bottom: 0;
    }

}